<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="loggerImplementation" value="LegacyClientLogger"/>
		<add key="loggerPath" value="C:\\bkpdb\info.log"/>
		<add key="legacyLoggerSource" value="C:\\bkpdb\legacyLogger.log"/>
		<add key="legacyLoggerType" value="FILE"/>
	</appSettings>
	<connectionStrings>
		<add name="azureLoggerDB" connectionString="Server=tcp:test-lsaavedra.database.windows.net,1433;Initial Catalog=LoggerDB;Persist Security Info=False;User ID=TuTiN;Password=ryUk1612;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
	</connectionStrings>
</configuration>